@import '../../scss/layout';

.container {
  @extend %rightContainer;
}

.header {
  width: 100%;
  margin-top: 20px;

  .title {
    font-weight: bold;
    font-size: 36px;

  }

  .searchFilterContainer {
    display: flex;
    align-items: center;

    height: 100px;

    margin-top: 20px;

    gap: 20px;
    background-color: #f9f9f9;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .filterItem {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: start;



      .label {
        font-size: 14px;
        color: #333;
        margin-bottom: 8px;
        font-weight: bold;
      }

      .inputWrapper {
        display: flex;
        align-items: center;
        background-color: white;
        border: 1px solid var(--gray-light);
        border-radius: 4px;
        padding: 11px;

        .searchInput {
          flex: 1;
          border: none;
          outline: none;
          font-size: 14px;
          padding: 0 5px;
        }

        i {
          color: #888;
        }
      }

      .select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid var(--gray-light);
        border-radius: 4px;
        background-color: white;
        outline: none;
      }
    }

    .searchButton {
      display: flex;
      padding: 9px;
      background-color: white;
      color: black;

      font-size: 14px;

      border: 1px solid var(--gray-light);
      border-radius: 4px;


      cursor: pointer;

      margin-top: 28px;
    }
  }

}

